<!-- Day 1 -->

<!-- <div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{version}}</p>
    </div>
    <div class="col-3">
        <p>{{currentDate}}</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" class="form-control" [value]="firstName">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <input [type]="inputType" value="bbbbb"/>
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedState">
            <option value="MH">MH</option>
            <option value="CH">CH</option>
            <option value="AP">AP</option>
            <option value="TS">TS</option>
        </select>
        <p>{{selectedState}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeAlert()">Show Alert</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showMessage('Welcome to React')">Show React Message</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showMessage('Welcome to Dot Net')">Show Dot Net Message</button>
    </div>
</div> -->


<!-- Day 2 -->
<!-- <div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let role of roleList">{{role.role}}</li>
        </ul>
    </div>
    <div class="col-4">
        <select [(ngModel)]="selectedRoleId">
            <option *ngFor="let role of roleList" [value]="role.roleId">{{role.role}}</option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-warning m-2" *ngFor="let role of roleList">{{role.role}}</button>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No:</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of roleList; let num = index">
                    <td>{{num +1}}</td>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




